.carousel-title {
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel-title-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
}

.carousel-price {
  width: 100%;
  text-align: center;
  align-content: center;
  padding-top: 10px;
  justify-content: center;
}

.carousel-price-text {
  font-weight: bold;
  font-size: 15px;
}

.left-button-phone {
  float: left;
  /* margin-right: 10px; */
}

.right-button-phone {
  float: right;
  /* margin-left: 10px; */
}

.action-buttons-container {
  display: flex;
  align-items: center;
}

.action-button-desktop {
  margin: 0 auto;
  display: block;
}
