<div class="full-width">
  <mat-divider></mat-divider>
  <div class="carousel-title">
    <span class="carousel-title-text">Última cotação dos ativos</span>
  </div>
  <mat-divider></mat-divider>
  <br/>
  <div class="mdl-grid" *ngIf="carouselStocks.length > 0 && !mobileDevice">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-phone action-buttons-container" *ngIf="!mobileDevice">
      <button mat-fab color="accent" aria-label="Voltar para o ativo anterior" class="action-button-desktop" (click)="goToLeft()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
    </div>
    @for(stock of carouselStocks; track stock){
      <div class="mdl-cell mdl-cell--2-col mdl-cell--10-col-phone">
        <mat-card>
          <mat-card-content>
            <app-stock-code-display [code]="stock.code" [name]="stock.name" [logo]="stock.logo!" logoHeight="50" [type]="stock.type"></app-stock-code-display>
            <div class="carousel-price">
              <h3 class="mdl-color-text--green-200 carousel-price-text">{{stock.price | currency : 'BRL'}}</h3>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    }
    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-col-phone action-buttons-container" *ngIf="!mobileDevice">
      <button mat-fab color="accent" aria-label="ir para o próximo ativo" class="action-button-desktop" (click)="gotToRight()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </div>
  </div>
  <mat-progress-bar mode="indeterminate" *ngIf="carouselStocks.length === 0"></mat-progress-bar>
  <mat-card *ngIf="mobileDevice && carouselStocks.length > 0">
    <mat-card-content>
      @for(stock of carouselStocks; track stock) {
        <app-stock-code-display [code]="stock.code" [name]="stock.name" [logo]="stock.logo!" logoHeight="50" [type]="stock.type"></app-stock-code-display>
        <div class="carousel-price">
          <h3 class="mdl-color-text--green-200 carousel-price-text">{{stock.price | currency : 'BRL'}}</h3>
        </div>
      }
      <button mat-fab color="accent" aria-label="Voltar para o ativo anterior" class="left-button-phone" (click)="goToLeft()">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>
      <button mat-fab color="accent" aria-label="ir para o próximo ativo" class="right-button-phone" (click)="gotToRight()">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>
    </mat-card-content>
  </mat-card>
</div>
<br/>
<mat-divider></mat-divider>
