<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpened" class="app-sidenav"
               [fixedInViewport]="true" [fixedTopGap]="0" fixedBottomGap="0">
    <h1 class="sidenav-title">Menu</h1>
    <mat-divider class="sidenav-title-divider"></mat-divider>
    <app-sidenav-menu></app-sidenav-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="secondary">
      <button mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ (title$ | async) }}</span>
    </mat-toolbar>
    <div class="main">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<ngx-loading [show]="isLoading"></ngx-loading>
