<mat-card>
  <mat-card-content>
    <mat-form-field class="full-width">
      <mat-label>Valor a aportar:</mat-label>
      <input matInput currencyMask
        [(ngModel)]="simulationValue" [options]="{prefix: 'R$ ', thousands: '.', decimal: ','}"/>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-mini-fab color="accent" aria-label="Simular carteira" matTooltip="Simular carteira" (click)="calculate()" style="float: right;">
      <mat-icon>calculate</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
<br/>
<mat-card>
  <mat-card-content>
    <div *ngIf="totalCost !== null && totalCost !== undefined && totalCost !== 0">
      <h3 class="total-cost-text">
        Custo aproximado:
        <span class="total-cost-value">{{totalCost | currency : 'BRL'}}</span>
      </h3>
    </div>
    <app-simulation-table [stocks]="stocks" [walletId]="id"></app-simulation-table>
  </mat-card-content>
</mat-card>
