<mat-card>
  <mat-card-content>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <mat-form-field class="full-width">
          <mat-label>Valor a aportar:</mat-label>
          <input matInput currencyMask
            [(ngModel)]="simulationValue" [options]="{prefix: 'R$ ', thousands: '.', decimal: ','}"/>
        </mat-form-field>
      </div>
      <div class="mdl-cell mdl-cell-3-col">
        <button mat-mini-fab color="accent" aria-label="Simular carteira" matTooltip="Simular carteira" (click)="calculate()">
          <mat-icon>calculate</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
<br/>
<mat-card>
  <mat-card-content>
    <div *ngIf="totalCost !== null && totalCost !== undefined && totalCost !== 0">
      <h3 class="total-cost-text">
        Custo aproximado:
        <span class="total-cost-value">{{totalCost | currency : 'BRL'}}</span>
      </h3>
    </div>
    <app-simulation-table [stocks]="stocks" [walletId]="id"></app-simulation-table>
  </mat-card-content>
</mat-card>
