.option-stock-img {
  vertical-align: middle;
  margin-right: 8px;
}

.option-stock-name {
  font-style: italic;
  font-weight: lighter;
}

table {
  width: 100%;
}

.stock-container {
  height: 400px;
  overflow: auto;
}
