<div class="mdl-grid" style="justify-content: center;">
  <div class="mdl-cell mdl-cell--10-col">
    <mat-card>
        <mat-card-content>
            <h2 class="text-center">Seja bem vindo ao simulador de investimentos!</h2>
            <mat-divider></mat-divider>
            <div class="presentation-text-container">
              <p class="presentation-text">
                Este é um site para realizar simulações de composição de uma carteira de investimentos.
                Nele é possível escolher vários ativos que estão disponíveis na
                <a href="https://www.b3.com.br/pt_br/market-data-e-indices/servicos-de-dados/market-data/cotacoes/" target="_blank">B3</a>,
                escolher o peso (porcentagem de participação) de cada ativo na sua carteira, e posteriormente, realizar a simulação de um aporte financeiro.
              </p>
              <p class="presentation-text">
                Sobre os ativos disponíveis, atualmente a aplicação conta somente com 3 tipos principais:
              </p>
              <ul>
                <li>Ações</li>
                <li>Fundos (podendo ser fundos imobiliários, FIAGROS, dentre outros disponíveis na B3)</li>
                <li>BDR's</li>
              </ul>
              <p class="presentation-text">
                Sobre a fonte de dados do sistema, foi construída integração com a API da <a href="https://brapi.dev/" target="_blank">BRAPI</a>.
                Além disso vale destacar que as cotações dos ativos disponibilizados são sempre <b>DO DIA ÚTIL ANTERIOR (D - 1)</b>.
              </p>
              <p class="presentation-text">
                Para saber mais sobre o projeto, dentre informações técnicas, tecnologias utilizadas e possíveis evoluções,
                <a href="https://github.com/GustavoAraujo26/investment-simulation" target="_blank">clique aqui!</a>
              </p>
            </div>
        </mat-card-content>
    </mat-card>
  </div>
</div>
<app-stock-carousel></app-stock-carousel>
