<mat-card>
  <mat-card-header>
    <mat-card-title>Dados Básicos</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider class="global-divider"></mat-divider>
    <table class="full-width" cellspacing="0">
      <tbody>
        <tr>
          <td>
            <mat-form-field class="input-full-width" hintLabel="Máximo 200 caracteres">
              <mat-label>Título</mat-label>
              <input matInput #titulo maxlength="100" placeholder="Título da carteira de investimentos"/>
              <mat-hint align="end">{{ titulo.value.length }}/200</mat-hint>
            </mat-form-field>
          </td>
          <td>
            <mat-slide-toggle class="ml-10">
              Ativo
            </mat-slide-toggle>
          </td>
        </tr>
      </tbody>
    </table>
    <mat-form-field class="input-full-width">
      <mat-label>Observação</mat-label>
      <textarea matInput #observacao maxlength="1000"
        placeholder="Observação sobre a carteira de investimento"
        rows="5"></textarea>
      <mat-hint align="end">{{ observacao.value.length }}/1000</mat-hint>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<br>
<mat-grid-list class="clear-grid-tile-padding" cols="2">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Seleção de Ativos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-divider class="global-divider"></mat-divider>
        <div class="stock-selection-button-container">
          <button mat-mini-fab color="accent" (click)="openStockSelectionDialog()">
            <mat-icon>check_circle</mat-icon>
          </button>
        </div>
        <div *ngIf="selectedStock !== null && selectedStock !== undefined">
          <mat-list>
            <mat-list-item>
              <div matListItemIcon>
                <img alt="row.name" class="option-stock-img" [src]="selectedStock.logo" height="50"/>
              </div>
              <div matListItemTitle>{{selectedStock.code}}</div>
              <div matListItemLine>{{selectedStock.name}}</div>
            </mat-list-item>
          </mat-list>
          <table>
            <tbody>
              <tr>
                <td>
                  <mat-form-field class="full-width">
                    <mat-label>Preço</mat-label>
                    <input type="number" matInput placeholder="Ex.: 50.00" step="0.01" min="0" disabled [value]="selectedStock.price"/>
                  </mat-form-field>
                </td>
                <td style="vertical-align: middle;">
                  <mat-form-field class="full-width">
                    <mat-label>Peso (%)</mat-label>
                    <input type="number" matInput placeholder="Ex.: 50.00" step="0.01" min="0" max="100"/>
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Seleção de Ativos</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-divider class="global-divider"></mat-divider>
        <div class="stock-selection-button-container">
          <button mat-mini-fab color="accent" (click)="openStockSelectionDialog()">
            <mat-icon>check_circle</mat-icon>
          </button>
        </div>
        <div *ngIf="selectedStock !== null && selectedStock !== undefined">
          <mat-list>
            <mat-list-item>
              <div matListItemIcon>
                <img alt="row.name" class="option-stock-img" [src]="selectedStock.logo" height="50"/>
              </div>
              <div matListItemTitle>{{selectedStock.code}}</div>
              <div matListItemLine>{{selectedStock.name}}</div>
            </mat-list-item>
          </mat-list>
          <table>
            <tbody>
              <tr>
                <td>
                  <mat-form-field class="full-width">
                    <mat-label>Preço</mat-label>
                    <input type="number" matInput placeholder="Ex.: 50.00" step="0.01" min="0" disabled [value]="selectedStock.price"/>
                  </mat-form-field>
                </td>
                <td style="vertical-align: middle;">
                  <mat-form-field class="full-width">
                    <mat-label>Peso (%)</mat-label>
                    <input type="number" matInput placeholder="Ex.: 50.00" step="0.01" min="0" max="100"/>
                  </mat-form-field>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

