.option-stock-img {
  vertical-align: middle;
  margin-right: 8px;
}

.option-stock-name {
  font-style: italic;
  font-weight: lighter;
}

.stock-selection-button-container {
  vertical-align: middle;
  align-items: end;
  text-align: right;
  margin-top: 10px;
}

.clear-grid-tile-padding {
  padding: 0;
}

.wallet-build-card {
  overflow: auto;
  max-width: 400px;
}

.text-left {
  text-align: left;
}
