.stock-img {
  vertical-align: middle;
}

.stock-name {
  font-style: italic;
  font-weight: lighter;
  word-break: break-all;
  word-wrap: break-word;
}

.stock-code {
  font-weight: bold;
  /* color: rgba(255, 255, 255, 0.7); */
  color: white;
}

.stock-basic-data {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.type-container {
  width: 100%;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;;
}
